
.yk-selectize-control {
    position: relative;
}

.form-control.yk-selectize-control {
    padding: 0;
    height: auto;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
}

.yk-selectize-input {
    min-height: 34px;
    border: 1px solid #cccccc;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 6px 12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 4px;
    cursor: text;
    background: #FFFFFF;
}

.yk-selectize-input > input {
    display: inline-block;
    padding: 0;
    min-height: 0;
    max-height: none;
    max-width: 100%;
    margin: 0;
    text-indent: 0;
    border: 0 none;
    line-height: inherit;
    box-shadow: none;
}

.yk-selectize-input > input:focus {
    outline: none;
}

.yk-selectize-dropdown {
    position: absolute;
    display: none;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 2px 0 0 0;
    z-index: 1000;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.yk-selectize-dropdown-active {
    display: block;
}

.yk-selectize-dropdown .selectable {
    padding: 3px 12px;
    cursor: pointer;
}

.yk-selectize-dropdown .selectable:hover {
    background-color: #efefef;
}

.yk-selectize-dropdown-content {
    padding: 5px 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
}

.yk-selectize-control.multi .yk-selectize-input > div {
    display: inline-block;
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 3px;
    background: #efefef;
    color: #333333;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.item {
    position: relative;
    padding-right: 24px !important;
}

.remove {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 1px 0 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.remove:hover {
    text-decoration: none;
    background-color: #aaaaaa;
}
